<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <!-- SCRIPTS -->
    <!-- jQuery library -->
    <script type="text/javascript" src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="webjars/popper.js/1.14.1/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="webjars/mdbfree/3.4.1/MDB%20Free/js/mdb.min.js"></script>
    <!--<script type="text/javascript" src="../../static/js/mdb.min.js"></script>-->
</footer>
</html>