<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header-css"/>
<meta charset="UTF-8"/>
<body>

<header th:replace="fragments/header :: header"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form class="form-create-post" th:action="@{/feed}"
                  th:object="${newPost}" method="post">
                <h3 class="form-signin-heading">Создать новость</h3>
                <input type="text" class="form-control" th:field="*{message}"
                       placeholder="Message"/>
                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Опубликовать</button>
            </form>
            <br/>

            <!-- Left-aligned -->
            <div class="media" th:if="${posts != null}" th:each="post : ${posts}">
                <div class="media-left">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="media-object" style="width:60px"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><span th:utext="${post.firstName}"/> <span th:utext="${post.lastName}"/></h4>
                    <p th:text="${#dates.format(post.date, 'hh:mm dd-MMM-yyyy')}"></p>
                    <p th:utext="${post.message}"></p>
                </div>
                <!--<div class="media-right">-->
                    <!--<form class="form-horizontal" th:action="@{/feed/delete}" method='post'>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-2 col-sm-10">-->
                                <!--<button type="submit" name='postId' th:value="${post.postId}" class="btn btn-small">Отписаться</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-sm-2"></div>

    </div>
</div>

<footer th:replace="fragments/footer :: footer"/>
</body>
</html>