<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Microblog homepage</title>
    <th:block th:replace="partials/head"></th:block>
</head>
<body>
<th:block th:replace="partials/nav"></th:block>

<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>User</th>
            <th>Text</th>
            <th>Date and Time</th>
        </tr>
        <tr th:each ="post : ${posts}">
            <td th:utext="${post.getUserId()}">...</td>
            <td th:utext="${post.getText()}">...</td>
            <td th:utext="${post.getDateTime()}">...</td>
        </tr>
    </table>
</div>

<th:block th:replace="partials/footer"></th:block>
</body>
</html>