<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login page</title>

    <th:block th:replace="partials/head"></th:block>

</head>
<body>

<h1>Login Page</h1>

<div class="container">
    <form class="form-signin" th:action="@{/login}"
          th:object="${loginForm}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" th:field="*{login}"
               placeholder="Login" />
        <br/>
        <input type="password" class="form-control" th:field="*{password}"
               placeholder="Password"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

<th:block th:replace="partials/footer"></th:block>
</body>
</html>