<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header-css"/>
<body>

<div class="container-fluid">
    <!-- /login?error=true -->
    <div th:if="${#httpServletRequest.getParameter('error') == 'true'}"
         style="color:red;margin:10px 0px;">
        Login Failed!!!<br/>
        Reason :
        <span th:if="${#httpSession!= null and #httpSession.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
              th:utext="${#httpSession.getAttribute('SPRING_SECURITY_LAST_EXCEPTION')}">
                Static summary
         </span>
    </div>
    <div class="container-fluid">
        <form class="form-horizontal" th:action="@{/j_spring_security_check}" method='POST'>
            <div class="form-group">
                <label class="control-label col-sm-2">Логин:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="login" placeholder="Введите логин" name="username"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Пароль:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="pwd" placeholder="Введите пароль" name="password"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            </div>
        </form>
    </div>

    <br/>
    <div class="container-fluid">
        <form name='registration' class="form-horizontal" th:action="@{/register}" method='GET'>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Регистрация</button>
                </div>
            </div>
        </form>

    </div>
</div>
    <footer th:replace="fragments/footer :: footer"/>
</body>
</html>