<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header-css"/>
<body>

<h1>Registration Page</h1>

<div class="container">
    <form class="form-signin" th:action="@{/register}"
          th:object="${newUser}" method='POST'>
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" th:field="*{login}"
               placeholder="Login" />
        <br/>
        <input type="password" class="form-control" th:field="*{password}"
               placeholder="Password"/>
        <br/>
        <input type="email" class="form-control" th:field="*{email}"
               placeholder="E-mail"/>
        <br/>
        <input type="text" class="form-control" th:field="*{firstName}"
               placeholder="First Name"/>
        <br/>
        <input type="text" class="form-control" th:field="*{lastName}"
               placeholder="Last Name"/>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>

<footer th:replace="fragments/footer :: footer"/>
</body>
</html>